.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:-95%;max-width:180px;margin-top:-6px;margin-right:-1px;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:left;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 5px 5px 0;border-right-color:#999;margin-top:5px;margin-right:10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;}
.dropdown-menu-right {margin-left:0;}

.form-control-personalizado {
  display: inline-block;
  width: 25%;
  height: 38px;
  padding: 6px 12px;
  margin-left: 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #2c3e50;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d6d6d6;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

h2.titulo-kendeclise {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    
}


.input-texto{
  /*background: #1abc9c;*/
  background: #CFCECE;
  color:#fff;
  transition: 0.3s;
  width:181px;
  height:41px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  text-transform: uppercase;
}

.input-texto span{
  padding-left: 5px;
}

.input-texto:hover{
  background: #000;
  cursor:pointer;
}

.archivo{
  /*visibility: hidden;*/
}

