
.fondo {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

.sectorp {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.radiop {
  display: none;
}

.headp{
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.centrando{
  margin:0 auto;
  
}

.centrandot{
	text-align:center;
}
.headp:hover {
  color: #888;
  cursor: pointer;
   display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;

}

.radiop:checked + .headp {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #1abc9c;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{

  display: block;
}

@media screen and (max-width: 650px) {
  .headp {
    font-size: 0;
  }
  .headp:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .headp {
    padding: 15px;
  }
}