html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

audio,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    box-sizing: border-box
}

input[type=text],
input[type=email] {
    box-sizing: border-box
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    box-sizing: border-box;
    border-color: #ddd
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

body,
div {
    font-size: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    word-spacing: normal;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
    -moz-padding-start: 0;
    -khtml-padding-start: 0;
    -webkit-padding-start: 0;
    -o-padding-start: 0;
    -padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

form {
    display: inline-block;
}

a {
    text-decoration: inherit;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whitespacefix {
    word-spacing: -1px;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu-content {
    cursor: pointer;
    position: relative;
}

li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#body {
    background-color: rgb(255, 255, 255);
}

.vis {
    display: inline-block;
    vertical-align: top;
}

.pos {
    position: relative;
    margin-top: 0;
}

.size {
    width: 100%;
    min-width: 1200px;
    min-height: 35px;
    height: 35px;
}

.cont {
    z-index: 1;
    border: 0;
    background-color: rgb(26, 188, 156);
}

.pos-2 {
    position: relative;
    margin-top: -2px;
}

.size-2 {
    width: 100%;
    min-width: 1200px;
    min-height: 88px;
}

.cont-2 {
    z-index: 2;
    border: 0;
    background-color: rgb(66, 58, 58);
}

.pos-3 {
    position: relative;
    margin-top: 4px;
}

.vis-2 {
    display: block;
}

.section {
    min-width: 1200px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.pos-4 {
    position: relative;
    margin-left: 86px;
    margin-top: 0;
}

.size-3 {
    min-width: 1114px;
    width: 1114px;
    min-height: 81px;
}

.pos-5 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
}

.size-4 {
    min-width: 164px;
    width: 164px;
    min-height: 78px;
    height: 78px;
}

.cont-4 {
    z-index: 4;
}

.img {
    position: absolute;
    left: 23px;
    width: 119px;
    height: 78px;
    top: 0;
    border: 0;
}

.img-2 {
    left: 23px;
    width: 119px;
    height: 78px;
    top: 0;
}

.vis-3 {
    display: inline-block;
    vertical-align: top;
    overflow: visible;
}

.pos-6 {
    position: relative;
    margin-left: 6px;
    margin-top: 24px;
}

.size-5 {
    min-width: 660px;
    width: 660px;
    min-height: 55px;
}

.cont-5 {
    z-index: 3;
}

.vis-4 {
    display: inline-block;
    vertical-align: top;
}

.size-6 {
    min-width: 660px;
    width: 660px;
    min-height: 55px;
    height: 55px;
}

.menu {
    padding: 0px 0px 0px 0px;
}

.menu-link {
    outline: 0;
}

.size-7 {
    min-width: 165px;
    width: 165px;
    min-height: 55px;
    height: 55px;
}

.menu-content-vis {
    display: inline-block;
}

.size-8 {
    min-width: 165px;
    width: 165px;
    min-height: 55px;
}

.cont-6 {
    border: 0;
    background-color: transparent;
}

.pos-7 {
    position: relative;
    margin-left: 0;
    margin-top: 13px;
}

.size-9 {
    min-width: 165px;
    width: 165px;
    min-height: 28px;
}

.para {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.11pt;
    margin-bottom: -2.11pt;
    padding-right: 0;
    text-align: center;
}

.font {
    font-family: "Roboto Condensed";
    font-size: 12.00pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 18.28pt;
    letter-spacing: normal;
}

.pos-8 {
    position: relative;
    margin-left: 119px;
    margin-top: 26px;
}

.size-10 {
    min-width: 165px;
    width: 165px;
    min-height: 55px;
}

.colwrapper {
    line-height: 0;
}

.cont-7 {
    z-index: 5;
}

.button {
    border: 0;
    background-color: rgba(64, 64, 64, 0.659238);
}

.button:hover {
    background-color: rgba(192, 192, 192, 0.763203);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.button:active {
    background-color: rgb(82, 100, 111);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.vis-5 {
    display: inline-block;
    overflow: hidden;
    outline: 0;
}

.size-11 {
    width: 165px;
    height: 37px;
}

.font-2 {
    font-family: "Roboto Condensed";
    font-size: 12.00pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(26, 188, 156);
    line-height: 14.06pt;
    letter-spacing: normal;
    text-indent: 9px;
    text-align: center;
    padding-top: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.pos-10 {
    position: relative;
    margin-left: 25px;
    margin-top: -40px;
}

.size-12 {
    min-width: 128px;
    width: 128px;
    min-height: 25px;
}

.pos-11 {
    position: relative;
    margin-left: 0;
    margin-top: 3px;
}

.size-13 {
    min-width: 49px;
    width: 49px;
    min-height: 22px;
}

.cont-8 {
    z-index: 6;
}

.para-2 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    text-align: left;
}

.font-3 {
    font-family: "Roboto Condensed";
    font-size: 12.00pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 14.06pt;
    letter-spacing: normal;
}

.pos-12 {
    position: relative;
    margin-left: 36px;
    margin-top: 0;
}

.size-14 {
    min-width: 43px;
    width: 43px;
    min-height: 23px;
    height: 23px;
}

.cont-9 {
    z-index: 7;
}

.img-3 {
    position: absolute;
    left: 10px;
    width: 23px;
    height: 23px;
    top: 0;
    border: 0;
}

.img-4 {
    left: 10px;
    width: 23px;
    height: 23px;
    top: 0;
}

.pos-13 {
    position: relative;
    margin-top: 23px;
}

.pos-14 {
    position: relative;
    margin-left: 92px;
    margin-top: 0;
}

.size-15 {
    min-width: 1056px;
    width: 1056px;
    min-height: 597px;
}

.size-16 {
    min-width: 573px;
    width: 573px;
    min-height: 597px;
}

.size-17 {
    min-width: 571px;
    width: 571px;
    min-height: 594px;
}

.cont-10 {
    z-index: 10;
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: transparent;
}

.pos-15 {
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
}

.size-18 {
    min-width: 571px;
    width: 571px;
    min-height: 67px;
}

.cont-11 {
    z-index: 24;
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(26, 188, 156);
}

.pos-16 {
    position: relative;
    margin-left: 195px;
    margin-top: 23px;
}

.size-19 {
    min-width: 224px;
    width: 224px;
    min-height: 30px;
}

.cont-12 {
    z-index: 25;
}

.para-3 {
    padding-top: 0;
    text-indent: 0;
    margin-top: -1.17pt;
    margin-bottom: 1.17pt;
    padding-right: 0;
    text-align: left;
}

.font-4 {
    font-family: "Open Sans";
    font-size: 17.25pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 21.14pt;
    letter-spacing: normal;
}

.pos-17 {
    position: relative;
    margin-left: 18px;
    margin-top: 18px;
}

.cont-13 {
    z-index: 26;
}

.input {
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: 541px;
    height: 42px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 4px;
    padding-right: 0;
    text-align: left;
}

.pos-18 {
    position: relative;
    margin-left: 496px;
    margin-top: -35px;
}

.size-21 {
    min-width: 43px;
    width: 43px;
    min-height: 27px;
}

.cont-14 {
    z-index: 27;
    border-left: 1px solid rgb(66, 58, 58);
    background-color: rgb(255, 255, 255);
}

.pos-19 {
    position: relative;
    margin-left: 10px;
    margin-top: 2px;
}

.size-22 {
    min-width: 23px;
    width: 23px;
    min-height: 23px;
    height: 23px;
}

.cont-15 {
    z-index: 28;
}

.img-5 {
    position: absolute;
    left: 0;
    width: 23px;
    height: 23px;
    top: 0;
    border: 0;
}

.img-6 {
    left: 0;
    width: 23px;
    height: 23px;
    top: 0;
}

.pos-20 {
    position: relative;
    margin-left: 18px;
    margin-top: 6px;
}

.cont-16 {
    z-index: 29;
}

.pos-21 {
    position: relative;
    margin-left: 496px;
    margin-top: -34px;
}

.cont-17 {
    z-index: 34;
    border-left: 1px solid rgb(66, 58, 58);
    background-color: rgb(255, 255, 255);
}

.cont-18 {
    z-index: 35;
}

.pos-22 {
    position: relative;
    margin-left: 18px;
    margin-top: 8px;
}

.size-23 {
    min-width: 541px;
    width: 541px;
    min-height: 44px;
}

.cont-19 {
    z-index: 36;
}

.pos-23 {
    position: relative;
    margin-left: 120px;
    margin-top: -34px;
}

.size-24 {
    min-width: 418px;
    width: 418px;
    min-height: 36px;
}

.pos-24 {
    position: relative;
    margin-left: 0;
    margin-top: 12px;
}

.size-25 {
    min-width: 302px;
    width: 302px;
    min-height: 24px;
}

.cont-20 {
    z-index: 30;
}

.para-4 {
    padding-top: 0;
    text-indent: 0;
    margin-top: -1.74pt;
    margin-bottom: 1.74pt;
    padding-right: 0;
    text-align: left;
}

/* .font-5 {
    font-family: "Open Sans";
    font-size: 10.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: gray;
    line-height: 13.89pt;
    letter-spacing: normal;
    padding: 0px 0px 0px 10px;
} */

.pos-25 {
    position: relative;
    margin-left: 73px;
    margin-top: 0;
}

.size-26 {
    min-width: 42px;
    width: 42px;
    min-height: 27px;
}

.cont-21 {
    z-index: 37;
    border-left: 1px solid rgb(66, 58, 58);
    background-color: rgb(255, 255, 255);
}

.pos-26 {
    position: relative;
    margin-left: 10px;
    margin-top: 3px;
}

.size-27 {
    min-width: 22px;
    width: 22px;
    min-height: 23px;
    height: 23px;
}

.cont-22 {
    z-index: 38;
}

.img-7 {
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    top: 0;
    border: 0;
}

.img-8 {
    left: 0;
    width: 22px;
    height: 22px;
    top: 0;
}

.pos-27 {
    position: relative;
    margin-left: 18px;
    margin-top: 5px;
}

.cont-23 {
    z-index: 31;
}

.size-28 {
    min-width: 43px;
    width: 43px;
    min-height: 28px;
}

.cont-24 {
    z-index: 40;
    border-left: 1px solid rgb(66, 58, 58);
    background-color: rgb(255, 255, 255);
}

.pos-28 {
    position: relative;
    margin-left: 9px;
    margin-top: 0;
}

.cont-25 {
    z-index: 41;
}

.pos-29 {
    position: relative;
    margin-left: 19px;
    margin-top: 19px;
}

.size-29 {
    min-width: 539px;
    width: 539px;
    min-height: 14px;
    height: 14px;
}

.cont-26 {
    z-index: 32;
    border-top: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: transparent;
}

.size-30 {
    min-width: 539px;
    width: 539px;
    min-height: 42px;
}

.size-31 {
    min-width: 261px;
    width: 261px;
    min-height: 42px;
}

.cont-27 {
    z-index: 33;
}

.input-2 {
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: 261px;
    height: 42px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 4px;
    padding-right: 0;
    text-align: left;
}

.size-32 {
    min-width: 269px;
    width: 269px;
    min-height: 42px;
}

.cont-28 {
    z-index: 39;
}

.input-3 {
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: 269px;
    height: 42px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 4px;
    padding-right: 0;
    text-align: left;
}

.pos-30 {
    position: relative;
    margin-left: 18px;
    margin-top: 11px;
}

.cont-29 {
    z-index: 42;
}

.pos-31 {
    position: relative;
    margin-left: -260px;
    margin-top: 77px;
}

.size-33 {
    min-width: 174px;
    width: 174px;
    min-height: 24px;
}

.cont-30 {
    z-index: 43;
}

.input-4 {
    width: 13px;
    height: 13px;
    vertical-align: top;
}

.font-6 {
    font-size: 15px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -1px;
    line-height: normal;
    margin-left: 3px;
    white-space: nowrap;
    width: 158px;
}

.pos-32 {
    position: relative;
    margin-left: -174px;
    margin-top: 113px;
}

.size-34 {
    min-width: 286px;
    width: 286px;
    min-height: 24px;
}

.size-35 {
    min-width: 96px;
    width: 96px;
    min-height: 24px;
}

.cont-31 {
    z-index: 44;
}

.font-7 {
    font-size: 15px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -1px;
    line-height: normal;
    margin-left: 3px;
    white-space: nowrap;
    width: 80px;
}

.pos-33 {
    position: relative;
    margin-left: 94px;
    margin-top: -24px;
}

.size-36 {
    min-width: 192px;
    width: 192px;
    min-height: 24px;
}

.cont-32 {
    z-index: 46;
}

.font-8 {
    font-family: "Open Sans";
    font-size: 9.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(38, 139, 210);
    line-height: 13.28pt;
    letter-spacing: normal;
}

.pos-34 {
    position: relative;
    margin-left: 0;
    margin-top: -81px;
}

.size-37 {
    min-width: 571px;
    width: 571px;
    min-height: 80px;
}

.cont-33 {
    z-index: 45;
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(26, 188, 156);
}

.pos-35 {
    position: relative;
    margin-left: 396px;
    margin-top: 25px;
}

.size-38 {
    min-width: 160px;
    width: 160px;
    min-height: 42px;
}

.cont-34 {
    z-index: 47;
}

.button-2 {
    border: 0;
    background-color: rgb(66, 58, 58);
}

.button-2:hover {
    background-color: rgb(130, 147, 158);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.button-2:active {
    background-color: rgb(82, 100, 111);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.size-39 {
    width: 160px;
    height: 40px;
}

.font-9 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 12.17pt;
    letter-spacing: normal;
    text-indent: 0;
    text-align: center;
    padding-top: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.pos-36 {
    position: relative;
    margin-left: 31px;
    margin-top: 0;
}

.size-40 {
    min-width: 450px;
    width: 450px;
    min-height: 457px;
}

.cont-35 {
    z-index: 8;
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: transparent;
}

.size-41 {
    min-width: 450px;
    width: 450px;
    min-height: 67px;
}

.cont-36 {
    z-index: 9;
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(26, 188, 156);
}

.pos-37 {
    position: relative;
    margin-left: 136px;
    margin-top: 23px;
}

.size-42 {
    min-width: 202px;
    width: 202px;
    min-height: 30px;
}

.cont-37 {
    z-index: 11;
}

.font-10 {
    font-family: "Open Sans";
    font-size: 12.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: gray;
    line-height: 13.89pt;
    letter-spacing: normal;
}

.pos-39 {
    position: relative;
    margin-left: 15px;
    margin-top: -1px;
}

.size-44 {
    min-width: 422px;
    width: 422px;
    min-height: 42px;
}

.cont-39 {
    z-index: 12;
}

.input-5 {
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: 422px;
    height: 42px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 0;
    padding-right: 0;
    text-align: left;
}

.pos-40 {
    position: relative;
    margin-left: 378px;
    margin-top: -35px;
}

.cont-40 {
    z-index: 14;
    border-left: 1px solid rgb(66, 58, 58);
    background-color: rgb(255, 255, 255);
}

.cont-41 {
    z-index: 15;
}

.pos-41 {
    position: relative;
    margin-left: 15px;
    margin-top: 42px;
}

.size-45 {
    min-width: 420px;
    width: 420px;
    min-height: 64px;
}

.pos-42 {
    position: relative;
    margin-left: 1px;
    margin-top: 0;
}

.cont-42 {
    z-index: 19;
}

.pos-43 {
    position: relative;
    margin-left: 0;
    margin-top: -2px;
}

.size-46 {
    min-width: 420px;
    width: 420px;
    min-height: 42px;
}

.cont-43 {
    z-index: 16;
}

.input-6 {
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: 420px;
    height: 42px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 0;
    padding-right: 0;
    text-align: left;
}

.pos-44 {
    position: relative;
    margin-left: 376px;
    margin-top: -35px;
}

.size-47 {
    min-width: 42px;
    width: 42px;
    min-height: 28px;
}

.cont-44 {
    z-index: 20;
    border-left: 1px solid rgb(66, 58, 58);
    background-color: rgb(255, 255, 255);
}

.pos-45 {
    position: relative;
    margin-left: 12px;
    margin-top: 3px;
}

.size-48 {
    min-width: 22px;
    width: 22px;
    min-height: 22px;
    height: 22px;
}

.cont-45 {
    z-index: 21;
}

.pos-46 {
    position: relative;
    margin-left: 16px;
    margin-top: 23px;
}

.size-49 {
    min-width: 193px;
    width: 193px;
    min-height: 23px;
}

.cont-46 {
    z-index: 17;
}

.para-5 {
    padding-top: 0;
    text-indent: 0;
    margin-top: -0.82pt;
    margin-bottom: 0.82pt;
    padding-right: 0;
    text-align: left;
}

.font-11 {
    font-family: "Open Sans";
    font-size: 12.00pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(38, 139, 210);
    line-height: 14.71pt;
    letter-spacing: normal;
}

.pos-47 {
    position: relative;
    margin-left: -193px;
    margin-top: 60px;
}

.cont-47 {
    z-index: 18;
}

.pos-48 {
    position: relative;
    margin-left: -1px;
    margin-top: 23px;
}

.size-50 {
    min-width: 450px;
    width: 450px;
    min-height: 80px;
}

.cont-48 {
    z-index: 22;
    border: 1px solid rgba(192, 192, 192, 0.763203);
    background-color: rgb(26, 188, 156);
}

.pos-49 {
    position: relative;
    margin-left: 274px;
    margin-top: 22px;
}

.size-51 {
    min-width: 160px;
    width: 160px;
    min-height: 41px;
}

.cont-49 {
    z-index: 23;
}

.size-52 {
    width: 160px;
    height: 40px;
}

.font-12 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12.00pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 11.45pt;
    letter-spacing: normal;
    text-indent: 0;
    text-align: center;
    padding-top: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.pos-50 {
    position: relative;
    margin-top: 38px;
}

.size-53 {
    width: 100%;
    min-width: 1200px;
    min-height: 127px;
}

.cont-50 {
    z-index: 48;
    border: 0;
    background-color: black;
}

.pos-51 {
    position: relative;
    margin-top: 47px;
}

.pos-52 {
    position: relative;
    margin-left: 18px;
    margin-top: 0;
}

.size-54 {
    min-width: 600px;
    width: 600px;
    min-height: 33px;
}

.cont-51 {
    z-index: 49;
}

.para-6 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 0.79pt;
    margin-bottom: -0.79pt;
    padding-right: 0;
    text-align: left;
}

.font-13 {
    font-family: "Roboto Condensed";
    font-size: 13.50pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 17.40pt;
    letter-spacing: normal;
}

.font-14 {
    font-family: "Roboto Condensed";
    font-size: 11.50pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(26, 188, 156);
    line-height: 17.40pt;
    letter-spacing: normal;
}

.font-15 {
    font-family: "Roboto Condensed";
    font-size: 11.50pt;
    color: #fff;
}

.menu-device {
    background-color: rgb(0, 0, 0);
    display: none;
}

@media (max-width:1199px) {
    .size {
        min-width: 960px;
        min-height: 38px;
        height: 38px;
    }
    .pos-2 {
        margin-top: 0;
    }
    .size-2 {
        min-width: 960px;
        min-height: 91px;
    }
    .pos-3 {
        margin-top: 13px;
    }
    .section {
        min-width: 960px;
        width: 960px;
    }
    .pos-4 {
        margin-left: 130px;
    }
    .size-3 {
        min-width: 820px;
        width: 820px;
        min-height: 72px;
    }
    .size-4 {
        min-width: 109px;
        width: 109px;
        min-height: 72px;
        height: 72px;
    }
    .img {
        left: 0;
        width: 109px;
        height: 72px;
    }
    .img-2 {
        left: 0;
        width: 109px;
        height: 72px;
    }
    .pos-6 {
        margin-left: 61px;
        margin-top: 39px;
    }
    .size-5 {
        min-width: 396px;
        width: 396px;
        min-height: 30px;
    }
    .size-6 {
        min-width: 396px;
        width: 396px;
        min-height: 30px;
        height: 30px;
    }
    .size-7 {
        min-width: 99px;
        width: 99px;
        min-height: 30px;
        height: 30px;
    }
    .size-8 {
        min-width: 99px;
        width: 99px;
        min-height: 30px;
    }
    .pos-7 {
        margin-top: 4px;
    }
    .size-9 {
        min-width: 99px;
        width: 99px;
        min-height: 22px;
    }
    .para {
        margin-top: 1.71pt;
        margin-bottom: -1.71pt;
    }
    .font {
        font-size: 9.75pt;
        line-height: 14.85pt;
    }
    .pos-8 {
        margin-left: 122px;
        margin-top: 25px;
    }
    .size-10 {
        min-width: 132px;
        width: 132px;
        min-height: 44px;
    }
    .size-11 {
        width: 132px;
        height: 31px;
    }
    .font-2 {
        font-size: 10.50pt;
        line-height: 12.30pt;
        text-indent: 7px;
        padding-top: 13px;
    }
    .pos-10 {
        margin-left: 12px;
        margin-top: -32px;
    }
    .size-12 {
        min-width: 107px;
        width: 107px;
        min-height: 20px;
    }
    .pos-11 {
        margin-top: 0;
    }
    .size-13 {
        min-width: 40px;
        width: 40px;
        min-height: 20px;
    }
    .font-3 {
        font-size: 11.25pt;
        line-height: 13.18pt;
    }
    .pos-12 {
        margin-left: 44px;
        margin-top: 1px;
    }
    .size-14 {
        min-width: 23px;
        width: 23px;
        min-height: 18px;
        height: 18px;
    }
    .img-3 {
        left: 3px;
        width: 18px;
        height: 18px;
    }
    .img-4 {
        left: 3px;
        width: 18px;
        height: 18px;
    }
    .pos-13 {
        margin-top: 18px;
    }
    .pos-14 {
        margin-left: 63px;
    }
    .size-15 {
        min-width: 845px;
        width: 845px;
        min-height: 478px;
    }
    .size-16 {
        min-width: 459px;
        width: 459px;
        min-height: 478px;
    }
    .size-17 {
        min-width: 457px;
        width: 457px;
        min-height: 475px;
    }
    .size-18 {
        min-width: 457px;
        width: 457px;
        min-height: 53px;
    }
    .pos-16 {
        margin-left: 15px;
        margin-top: 18px;
    }
    .size-19 {
        min-width: 242px;
        width: 242px;
        min-height: 24px;
    }
    .para-3 {
        margin-top: -0.87pt;
        margin-bottom: 0.87pt;
    }
    .font-4 {
        font-size: 12.75pt;
        line-height: 15.63pt;
    }
    .pos-17 {
        margin-left: 14px;
        margin-top: 14px;
    }
    .input {
        width: 433px;
        height: 34px;
    }
    .pos-18 {
        margin-left: 397px;
        margin-top: -28px;
    }
    .size-21 {
        min-width: 34px;
        width: 34px;
        min-height: 22px;
    }
    .pos-19 {
        margin-left: 8px;
    }
    .size-22 {
        min-width: 18px;
        width: 18px;
        min-height: 18px;
        height: 18px;
    }
    .img-5 {
        width: 18px;
        height: 18px;
    }
    .img-6 {
        width: 18px;
        height: 18px;
    }
    .pos-20 {
        margin-left: 14px;
        margin-top: 5px;
    }
    .pos-21 {
        margin-left: 397px;
        margin-top: -28px;
    }
    .pos-22 {
        margin-left: 14px;
        margin-top: 6px;
    }
    .size-23 {
        min-width: 433px;
        width: 433px;
        min-height: 35px;
    }
    .pos-23 {
        margin-left: 96px;
        margin-top: -28px;
    }
    .size-24 {
        min-width: 335px;
        width: 335px;
        min-height: 29px;
    }
    .pos-24 {
        margin-top: 10px;
    }
    .size-25 {
        min-width: 242px;
        width: 242px;
        min-height: 19px;
    }
    .para-4 {
        margin-top: -1.43pt;
        margin-bottom: 1.43pt;
    }
    .font-5 {
        font-size: 10.50pt;
        color: gray;
        line-height: 11.44pt;
    }
    .pos-25 {
        margin-left: 58px;
    }
    .size-26 {
        min-width: 34px;
        width: 34px;
        min-height: 22px;
    }
    .pos-26 {
        margin-left: 8px;
    }
    .size-27 {
        min-width: 18px;
        width: 18px;
        min-height: 18px;
        height: 18px;
    }
    .img-7 {
        width: 18px;
        height: 18px;
    }
    .img-8 {
        width: 18px;
        height: 18px;
    }
    .pos-27 {
        margin-left: 14px;
        margin-top: 4px;
    }
    .size-28 {
        min-width: 34px;
        width: 34px;
        min-height: 22px;
    }
    .pos-28 {
        margin-left: 7px;
    }
    .pos-29 {
        margin-left: 15px;
        margin-top: 15px;
    }
    .size-29 {
        min-width: 431px;
        width: 431px;
        min-height: 11px;
        height: 11px;
    }
    .size-30 {
        min-width: 432px;
        width: 432px;
        min-height: 34px;
    }
    .size-31 {
        min-width: 209px;
        width: 209px;
        min-height: 34px;
    }
    .input-2 {
        width: 209px;
        height: 34px;
    }
    .size-32 {
        min-width: 216px;
        width: 216px;
        min-height: 34px;
    }
    .input-3 {
        width: 216px;
        height: 34px;
    }
    .pos-30 {
        margin-left: 14px;
        margin-top: 8px;
    }
    .pos-31 {
        margin-left: -208px;
        margin-top: 58px;
    }
    .size-33 {
        min-width: 139px;
        width: 139px;
        min-height: 19px;
    }
    .font-6 {
        font-size: 12px;
        margin-top: 0;
        width: 123px;
    }
    .pos-32 {
        margin-left: -139px;
        margin-top: 90px;
    }
    .size-34 {
        min-width: 229px;
        width: 229px;
        min-height: 19px;
    }
    .size-35 {
        min-width: 77px;
        width: 77px;
        min-height: 19px;
    }
    .font-7 {
        font-size: 12px;
        margin-top: 0;
        width: 61px;
    }
    .pos-33 {
        margin-left: 75px;
        margin-top: -19px;
    }
    .size-36 {
        min-width: 154px;
        width: 154px;
        min-height: 19px;
    }
    .pos-34 {
        margin-top: -65px;
    }
    .size-37 {
        min-width: 457px;
        width: 457px;
        min-height: 64px;
    }
    .pos-35 {
        margin-left: 317px;
        margin-top: 20px;
    }
    .size-38 {
        min-width: 128px;
        width: 128px;
        min-height: 33px;
    }
    .size-39 {
        width: 128px;
        height: 24px;
    }
    .font-9 {
        font-size: 10.50pt;
        line-height: 10.02pt;
        padding-top: 9px;
    }
    .pos-36 {
        margin-left: 24px;
    }
    .size-40 {
        min-width: 360px;
        width: 360px;
        min-height: 365px;
    }
    .size-41 {
        min-width: 360px;
        width: 360px;
        min-height: 53px;
    }
    .pos-37 {
        margin-left: 13px;
        margin-top: 18px;
    }
    .size-42 {
        min-width: 242px;
        width: 242px;
        min-height: 24px;
    }
    .font-10 {
        font-size: 10.50pt;
        line-height: 11.44pt;
    }
    .pos-39 {
        margin-left: 12px;
    }
    .size-44 {
        min-width: 338px;
        width: 338px;
        min-height: 34px;
    }
    .input-5 {
        width: 338px;
        height: 34px;
    }
    .pos-40 {
        margin-left: 302px;
        margin-top: -28px;
    }
    .pos-41 {
        margin-left: 12px;
        margin-top: 34px;
    }
    .size-45 {
        min-width: 336px;
        width: 336px;
        min-height: 51px;
    }
    .size-46 {
        min-width: 336px;
        width: 336px;
        min-height: 34px;
    }
    .input-6 {
        width: 336px;
        height: 34px;
    }
    .pos-44 {
        margin-left: 301px;
        margin-top: -28px;
    }
    .size-47 {
        min-width: 33px;
        width: 33px;
        min-height: 22px;
    }
    .pos-45 {
        margin-left: 9px;
        margin-top: 2px;
    }
    .size-48 {
        min-width: 18px;
        width: 18px;
        min-height: 18px;
        height: 18px;
    }
    .pos-46 {
        margin-left: 13px;
        margin-top: 18px;
    }
    .size-49 {
        min-width: 154px;
        width: 154px;
        min-height: 19px;
    }
    .para-5 {
        margin-top: -0.66pt;
        margin-bottom: 0.66pt;
    }
    .font-11 {
        font-size: 9.75pt;
        line-height: 11.95pt;
    }
    .pos-47 {
        margin-left: -154px;
        margin-top: 48px;
    }
    .pos-48 {
        margin-top: 18px;
    }
    .size-50 {
        min-width: 360px;
        width: 360px;
        min-height: 64px;
    }
    .pos-49 {
        margin-left: 219px;
        margin-top: 18px;
    }
    .size-51 {
        min-width: 128px;
        width: 128px;
        min-height: 33px;
    }
    .size-52 {
        width: 128px;
        height: 23px;
    }
    .font-12 {
        font-size: 9.75pt;
        line-height: 9.31pt;
        padding-top: 10px;
    }
    .pos-50 {
        margin-top: -2px;
    }
    .size-53 {
        min-width: 960px;
        min-height: 102px;
    }
    .pos-51 {
        margin-top: 38px;
    }
    .pos-52 {
        margin-left: 14px;
    }
    .size-54 {
        min-width: 480px;
        width: 480px;
        min-height: 26px;
    }
    .para-6 {
        margin-top: 0.62pt;
        margin-bottom: -0.62pt;
    }
    .font-13 {
        font-size: 10.50pt;
        line-height: 13.54pt;
    }
    .font-14 {
        font-size: 10.50pt;
        line-height: 13.54pt;
    }
    .menu-device {
        background-color: rgb(1, 1, 1);
        display: none;
    }
}